body {
  background-color: #fbfbfe;
  color: #17230b;
}
h1 {
  text-align: center;
  font-size: 40px;
}
p {
  font-size: 24px;
}
h2 {
  color: darkmagenta;
  background-color: khaki;
  font-style: italic;
}
